pipeline/RawtoBronze.json
{
	"name": "RawtoBronze",
	"properties": {
		"activities": [
			{
				"name": "ForEachFiles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileList').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data to bronze",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "srcdataset",
									"type": "DatasetReference",
									"parameters": {
										"fileSystem": {
											"value": "@pipeline().parameters.p_srcCont",
											"type": "Expression"
										},
										"directory": {
											"value": "@pipeline().parameters.p_srcDirr",
											"type": "Expression"
										},
										"fileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "sinkdataset",
									"type": "DatasetReference",
									"parameters": {
										"fileSystem": {
											"value": "@pipeline().parameters.p_bronzeCont",
											"type": "Expression"
										},
										"directory": {
											"value": "@pipeline().parameters.p_bronzeDir",
											"type": "Expression"
										},
										"fileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "srcdataset",
						"type": "DatasetReference",
						"parameters": {
							"fileSystem": {
								"value": "@pipeline().parameters.p_srcCont",
								"type": "Expression"
							},
							"directory": {
								"value": "@pipeline().parameters.p_srcDirr",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			}
		],
		"parameters": {
			"p_srcCont": {
				"type": "string"
			},
			"p_srcDirr": {
				"type": "string"
			},
			"p_bronzeCont": {
				"type": "string"
			},
			"p_bronzeDir": {
				"type": "string"
			}
		},
		"annotations": []
	}
}